<!DOCTYPE html>
<html>
<head>
<head th:replace="~{base :: head}">
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	
	<div th:replace="~{base ::  ${usuario.perfil.toString()} == 'ADMIN' ? menuAdmin : menuUsuario}"></div>
	
	<p1>Seja bem vindo, </p1>
	<p1 th:text="${usuario.nome}"></p1>
	</br>
	<h3>Horas Extras: </h3>
	<p1 th:text="${horasExtras}"></p1>
	</br>
	<h3>Horas Compensadas: </h3>
	<p1 th:text="${horasCompensadas}"></p1>
	</br>
	<h3>Saldo: </h3>
	<p1 th:text="${saldo}"></p1>
	
</body>
</html>