<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}">
<title>Hora Extra</title>
</head>
<body>

	<div th:replace="~{base :: menuUsuario}"></div>

	<div class="container">
		<div class="card mt-3">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Data</th>
						<th scope="col">Descrição</th>
						<th scope="col">Hora</th>
						<th scope="col">Tipo</th>
						<th scope="col">Status</th>
						<th scope="col"></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="horaExtra : ${horasExtras}" )>

						<td th:text="${#temporals.format(horaExtra.data,'dd/MM/yyyy')}"></td>
						<td th:text="${horaExtra.descricao}"></td>
						<td th:text="${horaExtra.horas}"></td>
						<td th:text="${horaExtra.tipo.toString()}"></td>
						<td th:text="${horaExtra.status.toString()}"></td>
						<td>
							<a th:classappend="${horaExtra.status.toString()} != 'AGUARDANDO' ? 'disabled'" class="nav-item nav-link" th:href="@{/horaextra/autorizar/(id = ${horaExtra.id})}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
							  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
							  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
							</svg>
							</a>
						</td>
						<td>
							<a th:classappend="${horaExtra.status.toString()} != 'AGUARDANDO' ? 'disabled'" class="nav-item nav-link" th:href="@{/horaextra/negar/(id = ${horaExtra.id})}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
							  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
							  <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
							</svg>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</body>
</html>